In [ ]:
seconds_in_a_day = 24 * 60 * 60
seconds_in_a_day

86400

In [3]:
a=1238479783723638287
print(a)
b="harry"         #Variables
print(b)
c=complex(8,2)
print(c)

1238479783723638287
harry
(8+2j)

In [4]:
a=1238479783723638287
print("The type of a is",type(a))
b="harry"                                  #Data types
print("The type of a is",type(a))
c=complex(8,2)
print("The type of a is",type(a))
d=True
print("The type of d is",type(d))

The type of a is <class 'int'>
The type of a is <class 'int'>
The type of a is <class 'int'>
The type of d is <class 'bool'>

In [ ]:
seconds_in_a_week = 7 * seconds_in_a_day
seconds_in_a_week

604800

In [ ]:
a = "Hello"
b = "Everyone"  #string concatenation
print(a+" "+b)

Hello Everyone

In [ ]:
w="Welcome to GoogleTech"
print(w[6])
print(w[-1])    #string indexing
print(w[-13])
print(w[8])

e
h
t
t

In [ ]:
w="Welcome to GoogleTech"
print(w[0:7])
print(w[0::2]) #string slicing
print(w[-1::-2])
print(w[-1::-1])

Welcome
Wloet ogeeh
heego teolW
hceTelgooG ot emocleW

In [ ]:
w="Welcome to GoogleTech"
t=len(w)
print("Length of string is:",t)
for a in range(t):
  print(a)
for a in range(t):
  print(w[a])
for a in range(t-1,-1,-1):
  print(w[a])
for a in w:
  print(a)

Length of string is: 21
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
W
e
l
c
o
m
e

t
o

G
o
o
g
l
e
T
e
c
h
h
c
e
T
e
l
g
o
o
G

o
t

e
m
o
c
l
e
W
W
e
l
c
o
m
e

t
o

G
o
o
g
l
e
T
e
c
h

In [ ]:
w=("How Are You All")
n=w.lower()
print(n)

how are you all

In [ ]:
w=("how are you all")
n=w.upper()
print(n)

HOW ARE YOU ALL

In [ ]:
w=("how are you all")
n=w.title()
print(n)

How Are You All

In [ ]:
w=("how are you all")
n=w.capitalize()
print(n)

How are you all

In [ ]:
w="Welcome"
print(w.find('e'))
print(w.find('el'))
print(w.find('e',2))# start finding from 2 index
print(w.find('z'))# when element is not present it will rturn -1

1
1
6
-1

In [ ]:
w="Welcome"
print(w.index('e'))
print(w.index('c'))
print(w.index('c',3))# start finding from 2 index
print(w.index('z'))# when element is not present it will give eror

1
3
3

ValueError: ignored

In [ ]:
w="Welcome"
print(w.isalpha())

w="Welcome13"
print(w.isdigit())
print(w.isalnum())

w="Welcome@123"
print(w.isalnum())

True
False
True
False

In [ ]:
colors=["red", "pink","orange","yellow","blue", "green","black","white"]
print(colors)
print(type(colors))
print(colors[1])                #Lists
print(colors[5])
print(colors[3])
print(colors[2])

['red', 'pink', 'orange', 'yellow', 'blue', 'green', 'black', 'white']
<class 'list'>
pink
green
yellow
orange

In [6]:
set1 = set([1, 1, 1, 2, 2, 3])
set2 = set(('a', 'a', 'b', 'b', 'c'))
set3 = set('anaconda')
set4 = {1, 1, 'anaconda', 'anaconda', 8.6, (1, 2, 3), None}

print('Set1:', set1)
print('Set2:', set2)                #Sets
print('Set3:', set3)
print('Set4:', set4)

Set1: {1, 2, 3}
Set2: {'a', 'b', 'c'}
Set3: {'a', 'o', 'd', 'n', 'c'}
Set4: {1, 8.6, (1, 2, 3), None, 'anaconda'}

In [7]:
my_dictionary = dict()

print(my_dictionary)
print(type(my_dictionary))

{}
<class 'dict'>

In [8]:
my_information = {'name': 'Anamika', 'age': 20, 'location': 'Delhi'}

print(my_information)
print(type(my_information))

{'name': 'Anamika', 'age': 20, 'location': 'Delhi'}
<class 'dict'>

# New Section

In [ ]:
x=10.25
y=38.93
print(x*y)

399.03249999999997

In [ ]:
value= 65;
print(chr(value))
value= 66;
print(chr(value))  #convert ASCII value(integer into string)
value= 67;
print(chr(value))

A
B
C

In [ ]:
str='a';
print(ord(str))
str='A';
print(ord(str))
str='H';
print(ord(str))
                                   #return ASCII VALUE of string

97
65
72

In [ ]:
text="Welcome {} to {} korea".format("hello", 20);
print(text)
text="Welcome {0} to {1} korea".format("hello", 20);
print(text)
text="Welcome {b:>10} to {a} korea".format(a=30,b= 20);
print(text)
text="Welcome {a:^10} to {b} korea".format(a=10,b=20);
print(text)
text="Welcome {b:<10} to {a} korea".format(a=60,b=20);
print(text)
text="Welcome {b:>10} to {a:^10} korea".format(a=50,b=20);
print(text)

Welcome hello to 20 korea
Welcome hello to 20 korea
Welcome         20 to 30 korea
Welcome     10     to 20 korea
Welcome 20         to 60 korea
Welcome         20 to     50     korea